flask
flask-cors
openai
gunicorn  # تأكدي من إضافة هذا السطر
# المكتبات الأخرى مع مراعاة نسخة الـ CPU لتقليل المساحة
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
transformers
